* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 1000px;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
}

.navbar ul {
    list-style: none;
}

.pages li {
    display: inline-block;
}

.pages li a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.pages li a:hover {
    background-color: aliceblue;
    color: blue;
}

.navbar .search_bar {
    display: flex;
    height: 15px;
    width: 300px;
    align-items: center;
    text-decoration: none;
}
  
.search_bar input[type="text"] {
    flex: 1;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
}

.search_bar input:hover {
    background-color: aliceblue;
}

.pages li .search_button {
    display: block;
    padding: 15px 20px;

}

.search_button {
    background-image: url(../../public/search-icon.png);
    background-repeat:no-repeat;
    background-size: 15px 15px;
    background-position:center;
    height: 40px;
    width: 60px;
    border: none;
    margin: auto;
    background-color: white;
    cursor: pointer;
}

.search_button:hover {
    background-color: aliceblue;
}

.container {
    width: 800px;
    background-color: white;
    border-radius: 7px;
    margin: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.clubCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0px 20px 40px;
}

h2 {
    color: #232a33;
    margin-top: 15px;
}

h4 {
    color: #475466;
}

ul {
    margin-left: 35px;
    margin-bottom: 15px;
}

li::marker {
    color: rgb(90, 129, 222);
}