* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 18%;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

.pages {
    display: flex;
    gap: 22px;
    margin: 0px 30px 0px 30px;
    padding: 3px 0px 0px 0px;
    
}

.container {
    width: 800px;
    background-color: white;
    border-radius: 7px;
    margin: auto;
}

.clubCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0px 20px 40px;
}

h2 {
    color: #232a33;
    margin-top: 15px;
}

h4 {
    color: #475466;
}

ul {
    margin-left: 35px;
    margin-bottom: 15px;
}