.card{
    display: inline-flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
    background-color: antiquewhite;
    box-shadow: 0 4px 16px white;
}

.title{
    font-size: 20px;
}

.description{
    font-size: 16px;
}

.games{
    font-size: 16px;
}